@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

body{
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
}

nav{
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

h1{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 200px;
}

p{
  font-family: 'Teko', sans-serif;
  color: grey;
font-size: 22px;
font-weight: 300
}


header video {
  position: absolute;
  top: 90%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;

}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #03073B;
  font-size: 30px;
  opacity: 0.2;
  z-index: 1;
}

div .row{
  background-color: #03073B;
}

